<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium dolor, reprehenderit, perspiciatis nemo ullam id cum esse mollitia eligendi officiis saepe! Voluptas sequi vel, facilis consectetur obcaecati sunt deleniti ducimus?</p>

<%- include("footer") -%>
